<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add Your Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <div>
    <p>Welcome, business details please</p>
  </div>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" >
    <ion-list>
      
        <ion-item>
          <ion-label position="floating">Shop Name</ion-label>
          <ion-input type="text" ngModel  name="name"  placeholder="Shop Name"></ion-input>
        </ion-item>
        <br/>

        <ion-item>
          <ion-label position="floating">Shop Description</ion-label>
          <ion-textarea  ngModel name="description" required ></ion-textarea>
        </ion-item>
        <br/>

        <ion-item>
          <ion-label position="floating">Phone Number</ion-label>
          <ion-input type="tel" ngModel  name="phone"  placeholder="+256"></ion-input>
        </ion-item>
        <br/>

        <ion-item>
            <ion-label position="floating">Email Address</ion-label>
            <ion-input type="email" ng Model name="email"></ion-input>
        </ion-item>
        <br/>
  
        <ion-item>
            <ion-label position="floating">Working hours</ion-label>
            <ion-input type="text" ngModel  name="hours" required   placeholder="8am - 10pm Monday to Friday"></ion-input>
        </ion-item>
        <br/>

        <ion-item>
          <ion-label position="floating"> Address</ion-label>
          <ion-textarea name="address" ngModel required ></ion-textarea>
        </ion-item>
        <br/>
     
    </ion-list>
    <ion-button  type="submit"  shape="round" style="color:white" expand="block">{{btnText}}</ion-button>
  </form>
</ion-content>
